<?xml version="1.0"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="prjQLNK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
  
    <connectionStrings>
        <add name="Connect" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\QLNK.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="prjQLNK.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\QLNK.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="prjQLNK.Properties.Settings.QLNK_DAConnectionString"
            connectionString="Data Source=|DataDirectory|\Database\QLNK_DA.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="prjQLNK.Properties.Settings.QLNHANKHAUConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database\QLNHANKHAU.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="prjQLNK.Properties.Settings.Database1ConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database\Database1.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="prjQLNK.Properties.Settings.QLNKConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database\QLNK.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>



  <!--Data online: workstation id=quanlynhankhau.mssql.somee.com;packet size=4096;user id=phatnguyenit_SQLLogin_1;pwd=88888888;data source=quanlynhankhau.mssql.somee.com;persist security info=False;initial catalog=quanlynhankhau-->
  <!--Data offline: Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\QLNK.mdf;Integrated Security=True;User Instance=True-->
  <!--Data Source=.\sqlexpress;Initial Catalog=QLNK;User ID=sa-->

  <userSettings>
        <prjQLNK.Properties.Settings>
              <setting name="Taikhoan" serializeAs="String">
                    <value />
              </setting>
              <setting name="Matkhau" serializeAs="String">
                    <value />
              </setting>
              <setting name="ApplicationSkinName" serializeAs="String">
                    <value>Visual Studio 2013 Blue</value>
              </setting>
        </prjQLNK.Properties.Settings>
    </userSettings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
